<ul class="sidenav dropable sticky">
    <li><a href="https://www.amazon.com/Deep-Learning-Practitioners-Adam-Gibson/dp/1491914254" target="_blank">深度学习教科书</a></li>
    <li>
      <a href="#">快速入门</a>
      <ul>
        <li><a href="getstarted">快速入门: 安装 ND4J</a></li>
        <li><a href="userguide">用户指南</a></li>
        <li><a href="source">Source</a></li>
        <li><a href="gpu_native_backends">交替使用CPU和GPU</a></li>
        <li><a href="tests">Running Tests</a></li>
        <li><a href="benchmarking">Benchmarking Tool</a></li>
      </ul>
    </li>

    <li>
      <a href="#">About ND4J</a>
      <ul>
        <li><a href="introduction">Introduction</a></li>
        <li><a href="about">About ND4J</a></li>
        <li><a href="architecture">Architecture</a></li>
        <li><a href="functions">Functions</a></li>
        <li><a href="backend">Backend: How They Work</a></li>
        <li><a href="dependencies">Dependencies</a></li>
        <li><a href="downloads">Downloads</a></li>
        <li><a href="documentation">ND4J Syntax</a></li>
        <li><a href="changelog">Changelog</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Tutorials</a>
      <ul>
        <li><a href="operations">Operations</a></li>
        <li><a href="reshapetranspose">Matrix manipulation</a></li>
        <li><a href="scala">Scala & Scientific Computing</a></li>
        <li><a href="matrixwise">Matrix Operations</a></li>
        <li><a href="tensor">Tensors</a></li>
        <li><a href="get-data-into-canova">Getting Data Into Canova</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Other Languages</a>
      <ul>
        <li><a href="../cn/index">中文</a></li>
        <li><a href="../ja-index">日本語</a></li>
        <li><a href="../kr-index">한글</a></li>
      </ul>
    </li>
</ul>
